*{
    margin: 0;
    padding: 0;
}

div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    /* 背景图片 */
    background-image: url(../../../image.png) ;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 100px 100px;
}



