/* 
    @规则
        @charset 设置样式表
        @import 导入其它样式文件
        @media 媒体查询
        @font-face 自定义字体

*/

@import './reset.css';
/* @font-face { */
    /* 定义字体 */
    /* font-family: 'iconfont'; */
    /* 引入字体文件 format格式 */
    /* src:  */
    /* &#xe60c; */
        /* url('../font/iconfontarror.ttf') format('truetype'), */
        /* &#xf0131; */
        /* url('../font/iconfontcart.ttf') format('truetype'), */
        /* &#xe9a1; */
        /* url('../font/iconfontstar.ttf') format('truetype'), */
        /* &#xe62c; */
        /* url('../font/iconfontmenu.ttf') format('truetype'); */

/* } */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.ttf') format('truetype');
}

@font-face {
    font-family: 'iconfont2';
    src: url('../font/iconfont2.ttf') format('truetype');
  }

.iconfont
 {
    /* 字体样式 */
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .iconfont2{
    font-family: "iconfont2" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* 头部信息 */
/* #tool{
    width: 100px;
    height: 100px;
    border: 2px solid black;
} */

#headInfo li{
    float: left;
    line-height: 35px;
    padding: 0px 6px;
    font-size: 0;
    /* background-color: black;
    border: 2px solid black; */
}


#headInfo a{
    font-size: 12px;
    color: #6c6c6c;
}

#headInfo a:hover,
#headInfo a:hover span
{
    color:#f40;
}

#headInfo a.login{
    color: #f22e00;
}

#headInfo span{
    font-size: 12px;
}

#headInfo span.arrow{
    margin-left: 7px;
}

#headInfo li strong{
    font-size: 12px;
    color: #f22e00;
}

#headInfo span.store{
    font-size: 12px;
    color: #9c9c9c;
}

#headInfo li.line{
    font-size: 12px;
    color: #ddd;
}

/* 头部广告 */
#headAd{
    background-color: #f12f04;
}
#headAd .go{
    display: block;
    padding: 10px 10px 10px 15px;
}

#headAd .go img{
    height: 80px;
    width: 80px;
}
#headAd ul{
    padding-top: 13px;
}
#headAd li{
    float: left;
    width: 205px;
    height: 75px;
}
#headAd ul{
    margin-top: 0px;
}

#headAd li{
    float: left;
    width: 209px;
    height: 75px;
    margin-right: 10px;
    padding: 12px 15px 0 15px;
    box-sizing: border-box;
    /* 
        盒模型
        1.标准盒模型
            总宽度=border + width + padding
        2.ie盒模型
            总宽度=width
    */
}
#headAd li h3{
    font-size: 20px;
    line-height: 28px;
}
#headAd li p{
    font-size: 14px;
    line-height: 20px;
}
#headAd li a{
    color: white;
    display: block;
}
#headAd li a img{
    width: 52px;
    height: 52px;
    border-radius: 5px;
}
#headAd li.item1{
    background: url(../image/background1.png) no-repeat;
    background-size: 209px 75px;
}
#headAd li.item2{
    background: url(../image/background1.png) no-repeat;
    background-size: 209px 75px;
}
#headAd li.item3{
    background: url(../image/background1.png) no-repeat;
    background-size: 209px 75px;
}
#headAd li.item4{
    background: url(../image/background1.png) no-repeat;
    background-size: 209px 75px;
}
#headAd li.item5{
    background: url(../image/background1.png) no-repeat;
    background-size: 209px 75px;
    margin-right: 0px;
}
/* #headInfo span.guide{
    padding: 0 5px;
} */

/* 头部搜索 */

#headSearch{
    background-color: #fff;
    padding: 24px 0px 10px 0px;
}

#headSearch h1 a{
    display: block;
    width: 190px;
    height: 58px;
    background:url(../image/image.png) center no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    margin-top: 8px;
}

#headSearch .code{
    width: 72px;
    height: 86px;
    border: 1px solid #eee;
    position: relative;
    margin-right: 110px;
    text-align: center;
}

#headSearch .code img{
    width: 62px;
    height: 62px;
}

#headSearch .close{
    position: absolute;
    left: -16px;
    top: -1px;

    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #eee;
    
    color: #ddd;
    cursor: pointer;
}

#headSearch .search{
    /* display: inline-block; */
    /* border: 4px solid black; */
    width: 630px;
    margin: auto;
}

#headSearch .searchTab{
    display: inline-block;
    height: 22px;
    padding-left: 17px;
}

#headSearch .searchTab li{
    float: left;
    width: 36px;
    line-height: 22px;
    /* background-color: #f22e00; */
    margin-right: 4px;
    text-align: center;
    color: #f40;
    cursor: pointer;
    /* border-radius: ; */
}

#headSearch .searchTab li:hover{
    background-color: #ffeee5;
    /* color: #fff;
    font-weight: bold; */
    border-radius: 6px 6px 0px 0px;
}

#headSearch .searchTab li.active{
    background-color: pink;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    /* filter IE */
    border-radius: 6px 6px 0px 0px;
}

#headSearch .searchContent{
    height: 40px;
}
#headSearch .searchBox{
    width:554px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ff5000; 
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    position: relative;
}
#headSearch .searchBox input{
    width: 490px;
    height:36px;
    line-height: 36px;
    outline: none;
    border: none;
    text-indent: 10px;

    position: absolute;
    z-index: 2;
    background-color: transparent;
}

#headSearch .searchBox .placeholder{
    position: absolute;
    top: 6px;
    left: 14px;
}

#headSearch .searchBox .placeholder span{
    color: #9c9c9c;

}
#headSearch .searchBox .imgSearch{
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #9c9c9c;
    top: 3px;
    cursor: pointer;
}

#headSearch .searchContent button{
    width: 74px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    border-radius: 0px 20px 20px 0px;
}

#headSearch .hotkeys{
    height: 25px;
    line-height: 25px;

}

#headSearch .hotkeys a:hover{
    color: #f50;
}


#nav h2{
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    /* float: left; */
    text-align: center;
    background-color: #f50;
}

#nav ul{
    width: calc(100% - 190px);
    /* margin-left: 190px;
    overflow: hidden; */
    /* display: block; */
    /* border: 1px solid black; */
    background-image: linear-gradient(to right, #ff9000, #ff5000);
}

#nav li{
    line-height: 30px;
    color: #fff;
    float: left;
    margin: 0px 7px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    padding: 0 5px;
}

#nav a{
    color: #fff;
    font-weight: bold;
}
#nav .top{
    font-size: 16px;

}
#nav .line{
    margin: 0px;
    padding: 0 5px;
}
#nav ul li a:hover:after{
    content: "";
    position: absolute;
    width: 23px;
    height: 13px;
    background-image:url(../image/background1.png) ;
    top: -13px;
    left: 50%; 
    margin-left: -12px;
    z-index: 0;
}

/* 首屏内容 */
.firstLeft{
    width: 890px;
}
/* 侧边导航 */
.firstLeft .sideNav{
    width: 190px;
    height: 522px;
    background-color: #fff;
    border: 1px solid #ff5000;
    box-sizing: border-box;
    border-top: none;
    padding-top: 5px;
}

.firstLeft .sideNav li{
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    transition: background-color 0.3s;
    font-size: 14px;
    color: #666;
}

.firstLeft .sideNav li:hover{
    background-color: #ffe4dc;
    color: #f50;
}
.firstLeft .sideNav li:hover a{
    color: #f50;
}

.firstLeft .sideNav li a:hover{
    text-decoration: underline;
}

.firstLeft .sideNav li a{
    font-size: 14px;
}

.firstLeft .sideNav li span{
    font-size: 12px;
    margin-right: 5px;
    
}

/* 图片容器1 */
.firstLeft .imgbox1{
    width: 690px;
    height: 282px;
    background-color: #eee;
    margin-top: 10px;
    
}

.firstLeft .pic{
    position: relative;
    width: 520px;
    /* height: 282px; */
}

.firstLeft .imgbox1 .pic img{
    width: 100%;
    height: 282px;
}

.firstLeft .imgbox2 .pic .img{
    height: 200px;
    width: 520px;
    background-color: #fff;
    position: relative;
    /* display: table-cell;
    vertical-align: middle; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstLeft .imgbox2 .pic img{
    height: 200px;
    width: 258px;
    background-color: #fff;
    position: relative;
}

.firstLeft .pic button{
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: #000\9;IE9以下认识 */
    /* filter：alpha（opacity=30） */

    text-indent: center;
    position: absolute;
    top: 50%;
    margin-top: -15px;

    display: none;
}

.firstLeft .pic button.leftButton{
    left: 0;
    border-radius: 0 15px 15px 0;
    
}
.firstLeft .pic button.rightButton{
    right: 0;
    border-radius: 15px 0 0 15px;
}
.firstLeft .pic:hover button{
    display: block;
}

.firstLeft .pic .circles{
    position: absolute;
    bottom: 15px;
    left: 50%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    font-size: 0;
    padding: 3px 0;
    left: 50%;
    margin-left: -35px;

}

.firstLeft .pic .circles span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0px 3px;
    cursor: pointer;
}

.firstLeft .pic .circles span.active{
    background-color: #ff5000;
}

.firstLeft .ad{
    width: 160px;
}

.firstLeft .ad img{
    width: 160px;
    height: 282px;
}

/* 图片容器2 */
.firstLeft .imgbox2{
    width: 690px;
    height: 220px;
    /* background-color: #ccc; */
    margin-top: 10px;
}

.firstLeft .imgbox2 .picTitle{
    height: 20px;
    /* border: 2px solid blue; */
}
.firstLeft .imgbox2 .picTitle .text{
    /* border: 2px solid red; */
    height: 17px;
    line-height: 17px;
}

.firstLeft .imgbox2 .picTitle .text .bg{
    background: url(../image/image.png) no-repeat left;
    /* background: black; */
    /* height: 17px; */
    background-size: 80px 17px;
    padding-left: 136px;
    /* border: 2px solid black; */
    color: #666;
}

.firstLeft .imgbox2 .picTitle .text i{
    color: #ff1648;
}

.firstLeft .imgbox2 .picTitle .line{
    height: 3px;
    background-color: #ff1648;
    position: relative;
}
.firstLeft .imgbox2 .picTitle .line span{
    width: 87px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
}
/* 淘宝头条 */
.news{
    width: 890px;
    height: 100px;
    background-color: #999;
}
/* 右边导航 */
.firstRight{
    width: 290px;
    height: 621px;
    background: #9c9c9c;
}

.sideNav{
    background-color: #fff;
}
